# 全てのファイルを無視する
# ドットから始まる設定ファイルも無視する
/*
/.*

# 除外するディレクトリ内の特定のファイルだけ有効にしたい
/config/ddskk/*

# 無視したくないファイルを以下に'![ファイル名]'で指定する
##### Gitで管理するファイル #####
!/config/
!/config/ddskk/skk.tut
!/inits/
!/.editorconfig
!/.gitattributes
!/.gitconfig
!/.gitignore
!/init-config.el
!/init-enhance.el
!/init-setup.el
!/init.el
!/README.md

# 上記で指定したファイルで無視したいものを指定する
##### Gitで無視するファイル #####
*.elc
.DS_Store
